# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable/secrets files
*.tfvars
*.tfvars.json

# SSH / private keys
*.pem
*.key
id_rsa
id_rsa.*

# AWS
.aws/

# Environment / secrets
.env
.env.*

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
